
components/faceTracking/\.idea/

components/fakeHumanAgent/\.idea/

components/humanAgent/\.idea/

components/SocialNavigationAgent/\.idea/

components/socialnavigationGaussian/\.idea/

components/humanAgent/cmake-build-debug/

components/humanAgent/CMakeFiles/

components/humanAgent/src/humanAgent_autogen/

components/humanAgent/bin/

components/humanAgent/src/CMakeFiles/

etcSim/simple\.xml\.save

components/socialnavigationGaussian/log\.txt

components/socialnavigationGaussian/src/checkboundaries\.pyc

components/socialnavigationGaussian/src/ConcaveHull\.pyc

components/socialnavigationGaussian/src/GaussianMix\.pyc

components/socialnavigationGaussian/src/genericworker\.pyc

components/socialnavigationGaussian/src/lineintersect\.pyc

components/socialnavigationGaussian/src/normal\.pyc

components/socialnavigationGaussian/src/socialnavigationgaussianI\.pyc

components/socialnavigationGaussian/src/specificworker\.pyc

components/SocialNavigationAgent/bin/

components/SocialNavigationAgent/src/CMakeFiles/

components/SocialNavigationAgent/src/SocialNavigationAgent_autogen/

components/SocialNavigationAgent/src/AGMCommonBehavior\.cpp

components/SocialNavigationAgent/src/AGMCommonBehavior\.h

components/SocialNavigationAgent/src/AGMExecutive\.cpp

components/SocialNavigationAgent/src/AGMExecutive\.h

components/SocialNavigationAgent/src/AGMWorldModel\.cpp

components/SocialNavigationAgent/src/AGMWorldModel\.h

components/SocialNavigationAgent/src/cmake_install\.cmake

components/SocialNavigationAgent/src/CommonBehavior\.cpp

components/SocialNavigationAgent/src/CommonBehavior\.h

components/SocialNavigationAgent/src/GenericBase\.cpp

components/SocialNavigationAgent/src/GenericBase\.h

components/SocialNavigationAgent/src/Laser\.cpp

components/SocialNavigationAgent/src/Laser\.h

components/SocialNavigationAgent/src/Logger\.cpp

components/SocialNavigationAgent/src/Logger\.h

components/SocialNavigationAgent/src/Makefile

components/SocialNavigationAgent/src/OmniRobot\.cpp

components/SocialNavigationAgent/src/OmniRobot\.h

components/SocialNavigationAgent/src/Planning\.cpp

components/SocialNavigationAgent/src/Planning\.h

components/SocialNavigationAgent/src/SocialNavigationGaussian\.cpp

components/SocialNavigationAgent/src/SocialNavigationGaussian\.h

components/SocialNavigationAgent/src/TrajectoryRobot2D\.cpp

components/SocialNavigationAgent/src/TrajectoryRobot2D\.h

components/SocialNavigationAgent/CMakeFiles/

components/humanAgent/src/specificworker\.h\.new

components/humanAgent/src/specificmonitor\.cpp\.new

components/humanAgent/src/specificmonitor\.h\.new

components/humanAgent/src/specificworker\.cpp\.new

components/humanAgent/src/AGMCommonBehavior\.cpp

components/humanAgent/src/AGMCommonBehavior\.h

components/humanAgent/src/AGMExecutive\.cpp

components/humanAgent/src/AGMExecutive\.h

components/humanAgent/src/AGMWorldModel\.cpp

components/humanAgent/src/AGMWorldModel\.h

components/humanAgent/src/cmake_install\.cmake

components/humanAgent/src/CMakeLists\.txt

components/humanAgent/src/CMakeListsSpecific\.txt\.new

components/humanAgent/src/CommonBehavior\.cpp

components/humanAgent/src/CommonBehavior\.h

components/humanAgent/src/FaceTracking\.cpp

components/humanAgent/src/FaceTracking\.h

components/humanAgent/src/humanAgent\.cbp

components/humanAgent/src/HumanTracker\.cpp

components/humanAgent/src/HumanTracker\.h

components/humanAgent/src/mainUI\.ui\.new

components/humanAgent/src/Makefile

components/humanAgent/src/Planning\.cpp

components/humanAgent/src/Planning\.h

components/faceTracking/CMakeFiles/

components/faceTracking/src/tracker/__init__\.pyc

components/faceTracking/src/tracker/centroidtracker\.pyc

components/faceTracking/cmake_install\.cmake

components/faceTracking/CMakeCache\.txt

components/faceTracking/Makefile

components/faceTracking/README\.md\.new

components/faceTracking/src/facetrackingI\.py

components/faceTracking/src/facetrackingI\.pyc

components/faceTracking/src/genericworker\.pyc

components/faceTracking/src/specificworker\.pyc

components/faceTracking/src/ui_mainUI\.py

components/faceTracking/src/ui_mainUI\.pyc

components/SocialNavigationAgent/src/ui_mainUI\.h

components/SocialNavigationAgent/cmake_install\.cmake

components/SocialNavigationAgent/CMakeCache\.txt

components/SocialNavigationAgent/Makefile

components/humanAgent/cmake_install\.cmake

components/humanAgent/CMakeCache\.txt

components/humanAgent/Makefile

components/humanAgent/Project\.cbp

components/humanAgent/README\.md\.new

components/humanAgent/src/ui_mainUI\.h

components/SocialNavigationAgent/Project\.cbp

components/SocialNavigationAgent/src/SocialNavigationAgent\.cbp

\.idea/

components/faceTracking/files/dataset/

components/humanPose/CMakeFiles/

components/humanPose/cmake-build-debug/

etcSim/

etc/

components/humanPose/joints\.txt

components/fakeHumanAgent/src/ui_mainUI\.h

components/fakeHumanAgent/CMakeFiles/

components/fakeHumanAgent/bin/

components/fakeHumanAgent/src/CMakeFiles/

components/fakeHumanAgent/src/fakeHumanAgent_autogen/

components/fakeHumanAgent/src/Makefile

components/fakeHumanAgent/Makefile

components/fakeHumanAgent/CMakeCache\.txt

components/fakeHumanAgent/Project\.cbp

components/fakeHumanAgent/README\.md\.new

components/localizationAgent/CMakeFiles/

components/localizationAgent/src/CMakeFiles/

components/localizationAgent/src/localizationAgent_autogen/

components/localizationAgent/Project\.cbp

components/humanObserverAgent/CMakeFiles/

components/humanObserverAgent/src/CMakeFiles/

components/humanObserverAgent/src/humanObserverAgent_autogen/

components/conversationalAgent/CMakeFiles/

components/conversationalAgent/Makefile

components/conversationalAgent/src/CMakeFiles/

components/conversationalAgent/src/Makefile

components/conversationalAgent/src/__pycache__/



components/conversationalAgent/chatbot/actions/__pycache__/

components/faceDetector/CMakeFiles/

components/faceDetector/src/CMakeFiles/

components/faceDetector/src/cmake_install.cmake

components/faceDetector/src/Makefile

components/faceDetector/CMakeCache.txt

components/faceDetector/Makefile

components/socialRulesAgent/CMakeFiles/

components/socialRulesAgent/src/CMakeFiles/

components/socialRulesAgent/src/socialRulesAgent_autogen/

components/socialRulesAgent/src/Makefile

components/socialRulesAgent/cmake_install.cmake

components/socialRulesAgent/CMakeCache.txt

components/socialRulesAgent/Makefile

components/socialRulesAgent/src/cmake_install.cmake

components/roomLocalizationAgent/CMakeFiles/

components/roomLocalizationAgent/src/CMakeFiles/

components/roomLocalizationAgent/src/roomLocalizationAgent_autogen/

components/roomLocalizationAgent/src/Makefile

components/roomLocalizationAgent/cmake_install.cmake

components/roomLocalizationAgent/CMakeCache.txt

components/roomLocalizationAgent/Makefile

components/newSocialNavigationAgent/CMakeFiles/

components/newSocialNavigationAgent/src/CMakeFiles/

components/newSocialNavigationAgent/src/socialNavigationAgent_autogen/

components/newSocialNavigationAgent/cmake_install.cmake

components/newSocialNavigationAgent/CMakeCache.txt

components/newSocialNavigationAgent/Makefile

components/newSocialNavigationAgent/socialNavigationAgent.cbp

components/newSocialNavigationAgent/src/cmake_install.cmake

components/newSocialNavigationAgent/src/Makefile

components/faceDetector/src/AGGL.pyc

components/localizationAgent_RCIS/CMakeFiles/

components/localizationAgent_RCIS/src/CMakeFiles/

components/localizationAgent_RCIS/src/localizationAgent_autogen/

components/localizationAgent_RCIS/cmake_install.cmake

components/localizationAgent_RCIS/CMakeCache.txt

components/localizationAgent_RCIS/Makefile

components/faceDetector/src/agmcommonbehaviorI.pyc

components/faceDetector/src/agmexecutivetopicI.pyc

components/faceDetector/src/AGMModelConversion.pyc

components/faceDetector/src/genericworker.pyc

components/faceDetector/src/specificworker.pyc

components/faceDetector/src/ui_mainUI.pyc

components/localizationAgent_RCIS/src/cmake_install.cmake

components/localizationAgent_RCIS/src/Makefile

components/keyboardrobotcontrollerOmni/src/genericworker.pyc

components/keyboardrobotcontrollerOmni/src/specificworker.pyc

components/socialRulesAgent/results/

components/socialRulesAgent/socialRulesAgent.cbp

*.cbp

*.new

components/newSocialNavigationAgent/laserPoly.txt

components/newSocialNavigationAgent/robot.txt
